<Recipe-Header></Recipe-Header>
<div class="container-fluid">
 <div class="row">
    <div class="col-md-12">
    <router-outlet></router-outlet>
    </div>
</div>
<!--
<div class = "row" *ngIf = "userSelection === 'ShoppingList'">
  <div class = "col-xs-12">

  <app-shoppinglist></app-shoppinglist>
  </div>
</div>
-->

<!--  <div class = "row">

    <div class = "col-xs-12">
      <app-shoppinglist> </app-shoppinglist>
    </div>
  </div>-->

</div>

<!--<app-shoppinglist></app-shoppinglist>-->
